* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  background-color: #eff5ff;
  height: 53px;
  display: flex;
  align-items: center;
}
.container {
  width: 90%;
  margin: auto;
}
.zaman {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adresvaxt,
.adres,
.vaxt,
.phoneicon,
.telefon,
.ikonlar {
  display: flex;
  align-items: center;
}
.adresvaxt,
.phoneicon {
  gap: 20px;
}
.adres,
.vaxt,
.telefon,
.ikonlar {
  gap: 10px;
}
header address {
  color: #8d8e92;
}
header .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
header i {
  color: #0463fa;
}
.vaxt p {
  color: #8d8e92;
}
.telefon p {
  color: #8d8e92;
}
.navbar {
  width: 100%;
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #ffff;
  z-index: 1;
}
.klinik {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.klinik h1 {
  color: #0463fa;
  font-size: 40px;
}
.klinik i {
  font-size: 40px;
  color: #0463fa;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.menu li {
  height: 75px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}
.homecolor {
  color: #0463fa;
}
.sehife {
  position: relative;
}
.pagebtn {
  border: none;
  background-color: #ffff;
  font-size: 15px;
  height: 75px;
}
.pagebtn i {
  font-size: 12px;
  margin-left: 5px;
}
.page-content {
  /* display: none; */
  position: absolute;
  top: 115px;
  opacity: 0;
  /* transform: translateY(-40px); */
  width: 160px;
  height: 176px;
  border-radius: 20px;
}
.page-content a {
  display: block;
  /* margin: 10px 0 10px; */
  font-size: 15px;
  width: 160px;
  height: 32px;
  padding-left: 15px;
  align-items: center;
}
.page-content a:hover {
  background-color: #eeedf1;
}
.sehife:hover .page-content {
  display: block;
  transform: translateY(-40px);
  transition: 1s;
  opacity: 1;
}
.appointment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0463fa;
  height: 75px;
  width: 227px;
  border: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
}
.menu i {
  color: #ffff;
}
#goodhealth {
  display: flex;
}
.happiness {
  background-color: #0463fa;
  width: 50%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.happiness h2 {
  font-size: 56px;
  color: #ffff;
  margin-bottom: 48px;
}
.heyet {
  display: flex;
  gap: 80px;
  margin-right: 40px;
  padding-right: 30px;
}
.stuff {
  border-left: 1px solid white;
  padding-left: 24px;
  margin-right: 20px;
}
.stuff h3 {
  font-size: 32px;
  color: #ffff;
}
.stuff p {
  font-size: 16px;
  color: #ffff;
}
.cardiology {
  width: 50%;
  background-image: url(../image/carousel-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardiology h2 {
  font-size: 80px;
  color: #ffff;
}
#about {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
.shekil {
  width: 50%;
  padding: 0 24px;
  width: 660px;
  height: 612px;
  position: relative;
}
.shekil1 {
  position: absolute;
  right: 0;
  width: 459px;
  height: 459px;
  background-image: url(../image/about-1.jpg);
  background-size: cover;
}
.shekil2 {
  width: 306px;
  position: absolute;
  width: 306px;
  height: 306px;
  background-image: url(../image/about-2.jpg);
  border: 10px solid #ffff;
  background-size: cover;
  border-bottom: none;
  border-left: none;
  border-radius: 10px;
  bottom: 0;
  left: 0;
}
.yazi {
  width: 50%;
  padding: 0 24px;
  width: 660px;
  height: 612px;
}
.about {
  font-size: 16px;
  border: 1px solid #c7dcfb;
  color: #8d8e92;
  border-radius: 20px;
  width: 118px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yazi h2 {
  font-size: 40px;
}
.yazi p {
  margin: 20px 0;
  color: #8d8e92;
}
.yazi i {
  margin-right: 15px;
  color: #0463fa;
}
.yazi button {
  width: 170px;
  border-radius: 40px;
  height: 60px;
  background-color: #0463fa;
  color: #ffff;
  font-size: 16px;
  border: none;
  margin-top: 20px;
}
#services {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services {
  font-size: 16px;
  width: 110px;
  height: 33px;
  border: 1px solid #c7dcfb;
  border-radius: 20px;
  color: #8d8e92;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.solutions h2 {
  font-size: 40px;
}
.healthcare {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.saglam {
  width: 400px;
  height: 360px;
  background-color: #eff5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  border-radius: 7px;
}
.saglam .icon {
  width: 65px;
  height: 65px;
  background-color: #ffff;
  color: #0463fa;
  font-size: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saglam h3 {
  font-size: 24px;
}
.saglam p {
  font-size: 16px;
  color: #8d8e92;
}
.btn {
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ffff;
  color: #8d8e92;
  border-radius: 20px;
  vertical-align: baseline;
  font-size: 16px;
  gap: 10px;
  border: none;
}
.btn i {
  font-size: 19px;
  color: #0463fa;
  vertical-align: middle;
  margin-right: 10px;
}
#features {
  display: flex;
}
.chooseus {
  background-color: #0463fa;
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 100px;
}
.features {
  border: 1px solid #ffff;
  border-radius: 20px;
  width: 115px;
  height: 33px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.chooseus h2 {
  font-size: 40px;
  color: #ffff;
  margin-bottom: 30px;
  margin-top: 20px;
}
.chooseus p {
  font-size: 16px;
  color: #ffff;
  padding-right: 40px;
}
.experience {
  display: flex;
  flex-direction: column;
  width: 624px;
  height: 160px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.experience .ikon {
  width: 55px;
  background-color: #ffff;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}
.ikon i {
  color: #0463fa;
}
.ph4 {
  margin-bottom: 20px;
}
.ph4 p {
  font-size: 16px;
}
.ph4 h4 {
  font-size: 20px;
  color: #ffff;
}
.consultation {
  background-image: url(../image/feature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 600px;
}
#doctors {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourdoctors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.docs {
  font-size: 16px;
  width: 108px;
  height: 33px;
  color: #8d8e92;
  border: 1px solid #c7dcfb;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourdoctors h2 {
  font-size: 40px;
  margin-top: 20px;
}
.departmentdocs {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.doctornames {
  width: 324px;
  height: 460px;
  border-radius: 10px;
}
.imgbox {
  width: 300px;
  height: 360px;
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}
.imgbox img {
  width: 100%;
}
.department {
  width: 300px;
  height: 100px;
  background-color: #eff5ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.department h3 {
  font-size: 20px;
}
.department p {
  font-size: 16px;
  color: #0463fa;
}
#appointment {
  display: flex;
  padding: 0 100px;
  justify-content: center;
}
.visitdocs {
  margin: 48px 0;
  padding: 0 24px;
  width: 660px;
}
.visiting {
  width: 147px;
  height: 33px;
  color: #8d8e92;
  border: 1px solid #c7dcfb;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visitdocs h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #1b2c51;
}
.visitdocs p {
  font-size: 16px;
  color: #8d8e92;
  margin-bottom: 20px;
  padding-right: 20px;
}
.callusnow {
  width: 612px;
  height: 152px;
  background-color: #eff5ff;
  display: flex;
  padding: 48px;
  margin-top: 24px;
  border-radius: 10px;
}
.callusnow .icon {
  width: 55px;
  height: 55px;
  background-color: #ffff;
  border-radius: 50%;
  color: #0463fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callnow {
  margin-left: 24px;
}
.callnow p {
  font-size: 16px;
  margin-bottom: 8px;
}
.callnow h5 {
  font-size: 20px;
}
.bookappointment {
  background-color: #eff5ff;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  gap: 20px;
  margin: 48px 0;
  border-radius: 10px;
}
.bookappointment input {
  width: 250px;
  height: 55px;
  border-radius: 10px;
  border: none;
  color: #8d8e92;
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
  margin: 10px;
}
.bookappointment textarea {
  width: 516px;
  height: 181px;
  border: none;
  padding: 10px 0 0 10px;
  font-size: 18px;
  color: #8d8e92;
  border-radius: 10px;
  margin-right: 20px;
}
.book {
  width: 516px;
  height: 57px;
  color: #ffff;
  background-color: #0463fa;
  border-radius: 10px;
  border: none;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}
#testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.whatsay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.testimonia {
  border: 1px solid #c7dcfb;
  width: 150px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
}
.whatsay h2 {
  font-size: 40px;
  color: #1b2c51;
}
.ourpatients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 636px;
  height: 312px;
}
.centerimage img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 10px solid #0463fa;
}
.textbottom {
  margin-top: 20px;
  background-color: #0463fa;
  width: 636px;
  height: 188px;
  padding: 24px;
  color: #ffff;
}
.textbottom p {
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
}
.textbottom h5 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.textbottom span {
  font-size: 16px;
}
footer {
  background-color: #1b2c51;
  height: 412px;
  color: #ffff;
  display: flex;
  align-items: center;
  padding: 0 0 0 100px;
}
.pagebottom {
  padding: 48px 12px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 1344px;
}
.serviceaddress {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.streets {
  width: 336px;
  /* margin-right: 20px; */
}
.streets h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.streets p {
  font-size: 16px;
  margin-bottom: 10px;
}
.bottomikon {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.bottomikon .icon {
  border: 1px solid #ffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orthopeds {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 336px;
}
.orthopeds h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.orthopeds a {
  color: #ffff;
  margin-bottom: 10px;
  font-size: 16px;
}
.termsconditions {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 336px;
}
.termsconditions h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.termsconditions a {
  color: #ffff;
  margin-bottom: 10px;
  font-size: 16px;
}
.newsletter {
  padding: 0 24px;
  width: 336px;
}
.newsletter h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}
.newsletter input {
  width: 280px;
  height: 56px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}
.inputbtn {
  position: relative;
}
.inputbtn button {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 16px;
  color: #ffff;
  background-color: #0463fa;
  border: none;
  border-radius: 10px;
  width: 79px;
  height: 41px;
}
.allrights {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-top: 1px solid #919192;
}
.yoursite {
 font-size: 15px;
}
.yoursite .leftlink {
  color: #ffff;
  text-decoration: underline;
}
.designby {
  font-size: 15px;
}
.htmlcodex {
  color: #ffff;
  text-decoration: underline;
}